#benutzername
{
	width: 200px;
	margin-left: 81px;
}

#passwort
{
	width: 200px;
	margin-left: 120px;
}

#passwort_wdh
{
	width: 200px;
	margin-left: 29px;
}

#benutzer
{
	width: 200px;
	margin-left: 121px;
}

#benutzer_tabelle
{
	width: 95%;
	margin: 0 auto;
}
