#stufe
{
	margin-left: 150px;
	width: 250px;
}

#klasse
{
	margin-left: 143px;
	width: 250px;
}

#bezeichnung
{
	margin-left: 96px;
	width: 246px;
}

#klassenlehrperson
{
	margin-left: 59px;
	width: 250px;
}
