*
{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

body
{
	background-image: url(_img/Himmel.jpg);
	font-family: Khmer UI, Segoe UI light, Verdana, sans-serif;
}

#sitediv
{
	width: 820px;
	margin: 0 auto;
}

#nav1
{
	background: white;
	opacity: 0.8;
	margin-top: 50px;
	margin-left: 5px;
	height: 50px;
	width: 200px;
	float:left;
	border-radius: 25px 0px 0px 25px;
}

#nav2
{
	background: white;
	opacity: 0.8;
	margin-top: 50px;
	height: 50px;
	width: 200px;
	float:left;
	margin-left: 5px;
}


#nav3
{
	background: white;
	opacity: 0.8;
	margin-top: 50px;
	height: 50px;
	width: 200px;
	float:left;
	margin-left: 5px;
}


#nav4
{
	background: white;
	opacity: 0.8;
	margin-top: 50px;
	margin-bottom: 30px;
	height: 50px;
	width: 200px;
	float:left;
	margin-left: 5px;
	border-radius: 0px 25px 25px 0px;
}

.navpunkte
{
	padding-top:13px;
}

#nav1:hover
{
	background: #00beff;
	color: white;
	opacity: 0.8;
}

#nav2:hover
{
	background: #00beff;
	color: white;
	opacity: 0.8;
}

#nav3:hover
{
	background: #00beff;
	color: white;
	opacity: 0.8;
}	

#nav4:hover
{
	background: #00beff;
	color: white;
	opacity: 0.8;
}

#content
{
	min-height: 800px;
	background: white;
	opacity: 0.7;
	clear: both;
	margin-bottom: 20px;
	border-radius: 10px;
	z-index: 1;
	margin-top: -320px;
}

#footer
{
	height: 40px;
	background: white;
	margin-top: 10px;
	opacity: 0.8;
	margin-bottom: 50px;
	border-radius: 10px;
}


nav ul ul 
{
	display: none;
}

nav ul li:hover > ul 
{
	display: block;
}

nav ul
{
	background: white;
	opacity: 0.8;
	padding: 0 70px;
	border-radius: 35px; 
	list-style: none;
	position: relative;
	display: inline-table;
	z-index: 2;
}

nav ul:after 
{
	content: ""; clear: both; display: block;
}

nav ul li 
{
	float: left;
}

nav ul li:hover 
{
	background: #00beff;
}

nav ul li:hover a 
{
	color: white;
}

nav ul li a 
{
	display: block; padding: 15px 60px;
	color: #757575; text-decoration: none;
	opacity: 1;
}

nav ul ul 
{
	background: #00beff; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
	opacity: 1;
	z-index: 2;
}

nav ul ul li 
{
	float: none; 
	position: relative;
}

nav ul ul li a 
{
	padding: 15px 40px;
	color: #fff;
}	

nav ul ul li a:hover 
{
	background: white;
	color: #757575;
	opacity: 1;
}

nav ul ul ul 
{
	position: absolute; left: 100%; top:0;
	z-index: 2;
	background: #00d2ff;
}

#nav
{
	margin-top: 60px;
	margin-bottom: 30px;
}

#content
{
	margin-top: 25px;
}
